<link rel="stylesheet" href="./css/custom-label.css">
<link rel="stylesheet" href="./css/components.css">

<style>
    html, body {
        padding: 0;
        margin: 0;
        height: 100%;
        background: #eee;
    }

    /*.left-menu {
        position: absolute;
        left: 20px;
        top: 20px;
        width: 150px;
    }*/

    /*.left-menu input {
            display: block;
            margin: 10px 0;
        }*/
</style>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md3">
            <input type="button" class="btn-add-new layui-btn" value="创建默认实例" />
        </div>

        @*<input type="button" class="btn-remove layui-btn" value="删除实例" />
            <input type="button" class="btn-add-new-by-config layui-btn" value="拉取数据创建实例，数据在./data/config.json" />
            <input type="button" class="btn-fill-data layui-btn" value="拉取数据填充实例，数据在./data/data.json" />
            <input type="button" class="btn-get-html layui-btn" value="获取打印所需的HTML" />
            <input type="button" class="btn-get-data layui-btn" value="获取模板配置信息用" />*@
    </div>
    <div class="container" style="height: 700px;width: 1200px; margin: 0px auto;"></div>
</div>
<script type="text/javascript" src="./labeljs/jquery.custom-label.js?v1.9.1"></script>
<script type="text/javascript" src="./labeljs/jquery.custom-label-components.js?v1.9.1"></script>
<script type="text/javascript" src="./labeljs/data-components.js"></script>
<script type="text/javascript" src="./labeljs/init.js?v2.6"></script>